.vegimg{
    width: 500px;
    height: 500px;
    margin-top:110px;   
}

.leaf{
    margin-left: 100px;
    margin-top: 30px;
}

#bg{
    background-color:rgb(239, 238, 234);
    height: 650px;
}

.bnnrbg{
    display: flex;
    justify-content: space-around;
    align-items: center;    
}

#btn{
    background-color: rgb(50, 116, 50);
    color: white;
    border: none;
    padding: 8px;
    border-radius: 23px;
    width: 150px;
    height: 50px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#btn:hover{
    background-color: white;
    color:  rgb(11, 97, 11);
    border: 1px solid rgb(11, 97, 11) ;
}

.h-text{
    font-size: 100px;
    margin-top: -70px;
    
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    line-height: 1.2;
    font-weight: bold;
}

#h6{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgba(0, 0, 0, 0.605);
    font-size: 14px;
    margin-bottom: 30px;
}

@media (max-width: 480px){
    .vegimg{
        display: none;
    }
}