.brand {
  margin: 60px 0;
  background-color: rgb(239, 238, 234);
  height: 300px;
  padding-top: 100px;
  overflow: hidden;
}

/* slick fixes */
.brand .slick-slider,
.brand .slick-list,
.brand .slick-track {
  height: auto !important;
}

/* logo size control */
.brand img {
  max-height: 90px;   /* VERY IMPORTANT */
  width: auto;
  margin: auto;
  display: block;
}


