.txtcard{
    display: flex;
    justify-content: space-evenly;
    margin: 60px 0;
}

.txtclr h5:hover{
    color: green;
}

.txtclr h5{
    font-size: 22px;
}
.txtclr p{
    font-size: 18px;
}

.icondsply{
    display: flex;
    gap: 20px;
}

.icondsply svg:hover{
    color: green;
}

@media (max-width: 1024px) {
    .txtcard {
        flex-wrap: wrap;
        gap: 30px;
        justify-content: center;
    }
}

@media (max-width: 480px) {
    .txtcard {
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin: 30px 0;
    }
    .icondsply {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
}
