#spangap{
    display: flex;
    gap: 20px;
}

.calloc{
font-size: 15px;
color: gray;
}

.calloc:hover{
  color: green;
    cursor: pointer;
}

.nav-icons{
    display: flex;
    justify-content: end;
    color: gray;
    gap: 15px;
}

.comp1{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: white;
}

@media(max-width:786px){
    .comp1{
        display: none;
    }
}