.insight{
  display: flex;
  justify-content: center;
  gap: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 50px 0px;
}

.insight img{
   width: 400px;
    height: auto;
    border-radius: 8px;
}
.insight h6{
    margin-left: 20px;
    padding: 10px 0px;
}

.insight h3{
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bolder;
    width: 350px;
}