.comp3{
    display: flex;
    align-items: center;
    justify-content: space-between; 
    padding:15px 30px;
    width: 100%;
    background-color: rgb(239, 238, 234);
}

.logo{
    width: 160px;
    cursor: pointer;
}


.optdisply{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.links_ul{
  display: flex;
  gap: 30px;
  list-style: none;
}

.navicon{
  color: gray;
}

.nav-link {
  text-decoration: none;
  color: black;
  font-weight: 500;
}

.input{
    border: none;
    width: 230px;
    height: 35px;
    border-radius: 18px;
    padding: 10px;
    background-color:white;
}

.custom-nav {
  text-decoration: none;
  color: black;
  padding: 8px 10px;
  display: flex;
  align-items: center;
}

.custom-dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  background: white;
  list-style: none;
  padding: 10px 0;
  width: 180px;
  border-radius: 6px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
  opacity: 0;
  visibility: hidden;
  transform: translateY(10px);
  transition: 0.3s ease;
  z-index: 999;
}

.dropdown-parent {
  position: relative;
}

.dropdown-parent:hover .custom-dropdown {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.custom-dropdown li {
  padding: 8px 20px;
}

.custom-dropdown li:hover {
  background: #f3f3f3;
}

.custom-dropdown a {
  text-decoration: none;
  color: #333;
  font-size: 14px;
  display: block;
} 

.hamburger{
  display: none;
  font-size: 24px;
  cursor: pointer;
}

@media(max-width:786px){
  .links_ul{
    display: none;
  }

  .hamburger{
    display: block;
  }
  .input{
    display: none;
  }
}

.mobile-menu{
  position: fixed;
  top: 0;
  right: -100%;
  width: 85%;
  height: 100%;
  background: white;
  padding: 30px;
  transition: 0.3s;
  overflow-y: auto;
}

.mobile-menu.active{
  right: 0;
}

.mobile-header{
  display: flex;
  justify-content: space-between  ;
  align-items: center;
}

.mobile-search{
  width: 100%;
  padding: 10px;
  margin: 20px 0;
  background: rgba(245, 242, 242, 0.459);
  border: 1px solid black;
  border-radius: 7px;
  font-size: 18px;
}

.mobile-menu ul{
  list-style: none;
  padding: 0;
}
.mobile-menu li{
  padding: 15px 0;
  border-bottom: 1px solid#eee;
  font-size: 18px;
}

.contact-info{
  margin: 30px 0;
}

.contact-info h3{
  font-size: 24px;
}

.contact-info p{
  margin: 30px 0;
  font-size: 19px;
  color: green;
}
