.shop{
    margin: 80px 0 40px 0;
    display: flex;
    justify-content: space-between;
}
.dsss{
    display: flex;
    margin-top: 30px;
}

.radios{
    margin:30px 0 30px 60px;
}

.radios h5{
   margin-bottom: 20px;
    font-weight: bold;
    font-family: 'Trebuchet MS';
}
.radios input{
    margin-bottom: 15px;
    color: rgb(85, 81, 81);
}

.ratings{
    margin: 30px 0 30px 60px;
}

.vwallctgry{
  margin: 30px 0 5px 60px;
  width: 200px;
  height: 60px;
 border: none;
 border-radius: 50px;
 background-color:  #42812f;
 color: white;
}

.ratings h5{
  margin-bottom: 20px;
    font-weight: bold;
    font-family: 'Trebuchet MS';
}
.bg-maitta{
    background-image: url('../img/maitta-potatao.webp');
     background-repeat: no-repeat;
     height: 462px;
     width: 320px;
     border-radius: 10px;
     margin: 50px 0 50px 40px;
     padding: 20px;

}

.search-shp{
  margin: 40px;
}

.nav-item {
  position: relative;
}
 
/* dropdown box */
.dropdown-menu {
  position: absolute;
  left: 55px;
  background: #fff;
  width: 200px;
  padding: 10px 0;
  box-shadow: 0 10px 25px rgba(0,0,0,0.12);
  display: none;
  z-index: 999;
}
 
/* KEEP OPEN when hovering */
.dropdown:hover .dropdown-menu {
  display: block;
}
 
/* items */
.dropdown-menu li {
  padding: 10px 10px;
}
 
.dropdown-menu li:hover {
  background: #f3f3f3;
}
 
.dropdown-menu a {
  text-decoration: none;
  color: #000;
  display: block;
}
 