    .signupdata{
      margin-left: 350px;
      margin-top: 100px;
     
    }

    .signupdata input{
        width: 300px;
        margin-top: 15px;
        height: 50px;
        margin-left: 25px;
        border-radius: 3px;
        border: 1px solid rgb(218, 204, 204);
        padding: 10px;
    }

    

    .signupdata select{
        width: 300px;
        margin-top: 15px;
        height: 50px;
        margin-left: 25px;
        border-radius: 3px;
        border: 1px solid rgb(218, 204, 204);
        padding: 10px;
    }
.check{
    margin-left: 375px;
}

.rgstrnow{
    margin-left: 376px;
    width: 620px;
    background-color: #42812f;
    color: white;
    border-radius: 3px;
    margin-top: 25px;
    transition: 1s;
}

.rgstrnow:hover{
    border: 1px solid #42812f;
    background: none;
  color: #42812f ;
    
}
#LogIn{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 70px;
}
.font{
font-family: Arial, Helvetica, sans-serif;
font-size: 13px;

}

.a-login{
    text-decoration: none;

}
