.home-container {
  display: flex;
  gap: 20px;
  padding: 30px;
  
}

/* LEFT SIDEBAR */
.left-sidebar {
  width: 25%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.testimonial-card {
  background-color:rgb(243, 242, 238);
  padding: 20px;
  border-radius: 15px;
  text-align: center;
  margin: 20px auto;
}

.profile-img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.quote {
  font-size: 13px;
  margin: 10px 0;
}

.stars {
  color: orange;
  font-size: 18px;
}

.app-card {
  background: white;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.249);
}

.store-buttons img {
  width: 120px;
  margin: 10px 5px;
}

/* MAIN */
.main-content {
  width: 75%;
}

/* TOP BANNERS */
.top-banners {
  display: flex;
  gap: 20px;
  
}

.banner {
  flex: 1;
  padding: 20px;
  align-items: center;
}

.banner button {
  margin-top: 10px;
  padding: 6px 15px;
  border: 1px solid green;
  background: transparent;
  border-radius: 20px;
  cursor: pointer;
}
.banner button:hover{
  background-color:  #42812f;
  color: white;
}


/* PRODUCTS ROW */
.products-row {
  display: flex;
  gap: 20px;
  margin-top: 30px;
  flex-wrap: wrap;
}

/* TOP RATED */
.top-rated {
  flex: 1;
  background: white;
 
  
}

.top-border{
   border: 1px solid rgba(0, 0, 0, 0.249);
    padding: 15px;
  border-radius: 8px;
}

.top-rated h4{
  font-size: 18px;
}
.top-rated p{
  font-size: 16px;
}

.section-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  align-items: center;
}

.vertical-product {
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
}

.vertical-product img {
  width: 60px;
  height: 60px;
  object-fit: contain;
}

.price {
  color: green;
  font-weight: bold;
  font-size: 16px;
}

/* POPULAR */
.popular {
  flex: 1;
  background: white;
  padding: 15px;
  border-radius: 15px;
align-items: center;
margin-top: -15px;
}

.popular-item {
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
}

.thumb {
  width: 135px;
  height: 50px;
  background: #eee;
  border-radius: 10px;
  padding-top: 10px;
}

/* RIGHT PROMO */
.right-promo {
  flex: 1;
  background: white;
  border-radius: 15px;
  padding: 15px;
  position: relative;
  overflow: hidden;
}

.right-promo img {
  max-width: 100%;
  height: auto;
  margin-top: 20px;
  border-radius: 10px;
}
.meat-img{
  background-image: url('../img/organic\ 4.jpg');
   width: 100%;
  background-size: cover;
  background-position: center;
  height: 280px;
  background-repeat: no-repeat;
  border-radius: 15px;
  padding: 15px;
}

.vegtable{
  background-image: url('../img/organic\ 5.jpg');
  background-repeat: no-repeat;
  border-radius: 15px;
  padding: 15px;
  height: 280px;
  width: 100%;
  background-size: cover;
  background-position: center;
}

.promo-text span {
  color: brown;
  font-weight: bold;
}

.promo-text{
  background-image: url('../img/maitta-potato\ \ 2.webp');
  background-repeat: no-repeat;
  width: 100%;
  min-height: 470px;
  background-size: cover;
  background-position: center;
  padding: 20px;
  border-radius: 8px;
}
.promo-text p{
  font-size: 22px;
}

.promo-text h3{
  font-size: 30px;
}

@media (max-width: 1024px) {
  .left-sidebar {
    width: 100%;
    flex-direction: row;
  }

  .main-content {
    width: 100%;
  }

  .products-row {
    flex-direction: column;
  }

  .top-rated,
  .popular,
  .right-promo {
    width: 100%;
  }

  .top-banners {
    flex-direction: column;
  }
}

@media (max-width: 768px) {
  .home-container {
    flex-direction: column;
    padding: 15px;
  }

  .left-sidebar {
    width: 100%;
    flex-direction: column;
  }

  .main-content {
    width: 100%;
  }

  .section-header h2 {
    font-size: 18px;
  }

  .vertical-product {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .popular-item {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .thumb {
    width: 100%;
  }

  .promo-text {
    min-height: 350px;
  }
}
